@media (min-width: 1024px) {
  .contenido {
    display: grid;
    grid-template-columns: 2fr 1fr; /* 2/3 izquierda, 1/3 derecha */
    gap: 2rem;
  }
}
.menu {
  width: 100vw; 
  height: 72px;
  background: linear-gradient(to right, #2c2c54, #474787);
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 40px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.menu .logo {
  font-weight: bold;
  font-size: 18px;
  margin-right: auto;  /* empuja los links a la derecha */
}

.menu a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 600;
}

.menu a:hover {
  text-decoration: underline;
}

